
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body{
    color: #000;
}

a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
}

/* custom css starts from here  */

/* Navigation bar starts from here  */
#navigation-bar{
    background-color: darkblue;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}
#navigation-bar  nav a{
    text-transform: uppercase;
    margin-left: 32px;
    font-size: 20px;

}
#navigation-bar nav  a:hover{
    color:#25A50B ;
}
#navigation-bar nav  .activelink{
    color: #25A50B;
   
}
/* Navigation bar ends here  */


/* main styling starts from here  */
.wrapper h1,h2{
    text-align: center;
}

.wrapper h1{
    font-size: 36px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.wrapper h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 50px;
}


 /* square Box starts form here  */
 .squarebox{
     width: 240px;
     height: 220px;
     background-color: #99d8ca;
     margin: 0 auto;
     border: 20px solid #5873e2;
     outline: 10px solid #0d1430;
     box-shadow: 0 0 0 30px #90ffa9;
     border-radius: 5px;
     margin-bottom: 50px;
 }
 /* squarebox ends here  */


 /* radiobox starts from here  */
 .radiobox-wrapper{
     
     text-align: center;
 }
 .radiobox{
     display: inline-block;
 }
 
 .circle{
      width: 20px;
      height: 20px;
      background-color: #99d8ca;
      border: 2px solid black;
      display: inline-block;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 12px;
 }

  #content{
     background-color: #99d8ca;
 }
 .border{
     background-color: #5873e2;
 }
 #outline{
  background-color: black;
 }
 #shadow{
     background-color: #667e6c;
 }

 .hexcode{
     margin-right: 10px;
 }

 hr{
    margin: 32px auto;
     border: 1px  dashed #999;
     width: 500px;
 }
  /* radiobox ends here  */

  /* empty boxes secion starts from here  */

  #emptyboxes{
     padding-bottom:50px ;      
  }
.exercise2 h2{
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px;

}

.emptybox-container{
    width: 660px;
    border: 2px solid gray;
    margin: 24px auto;
    font-size: 0;
}
.emptybox-container .emptybox{
   width: 200px;
   height: 180px;
   display: inline-block;
   background-color: rgb(218,224,250);
   margin: 10px;
   box-sizing: border-box;
   
  
}

.bordered .boderedemptyboxes{
    border: 2px  solid black;   
    margin: 10px;
   }
  /* empty boxes  section ends here  */
/* main styling end  here  */

/* ************************************  Blog page styling starts from here ***************************  */
/* main page styling starts from  here  */
.blogpage{
    max-width:1200px;
    margin: 60px auto;
  
}

.article-container{
    width: 100%;
    height: 387px;
    display: inline-block;
}

.article-image{
    display: inline-block;
    width: 584px;
 
}
.article-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* *********** styling the article contnet **************  */

.article-content{
    display: inline-block;
    vertical-align: top;
    padding-left: 12px;
    width: 600px;

}


  /* styling the article  heading  */
.article-content h1{
    font-size: 36px;
    color: #061345;
    font-weight: 700;
    margin-bottom: 10px;
  
}
 
/* styling  the  article  desciption  */
.article-content .article-description{
    font-size: 20px;
    line-height: 30px;
    color: #333;
    margin-bottom: 35px;
}

/* styling the  article link  meanwhile button */
.article-content .articlelink{
    margin-top: 20px;
    text-decoration: none;
    font-size: 20px;
    background-color: #19BB3D;
    color: #fff;
    display: inline-block;
    padding: 12px 20px;
    border-radius: 30px;
    letter-spacing: 1px;
}

/* ***** another section styling start from here ***** */
.moreblogs {
    margin-bottom: 70px;
}
.article-wrapper{
    display: inline-block;
}
.multiplecontent{
    display: block;
    padding: 0px;
    width: 550px;
    /* background-color: rebeccapurple; */
}

.article-wrapper{
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.multiplearticles {
    max-width: 585px;
    display: inline-block;
}
.secondarticle{
    vertical-align: top;
    padding-left: 28px;
}

.secondarticleimg{
   vertical-align: top;
}
.multiplearticles-heading{
    margin-top: 10px;
   
}
.multiplearticleslink{
   
    font-size: 20px;
    color: #19BB3D;
    display: inline-block;
    margin-bottom: 100px;
    text-decoration:underline;
   
}